*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

spec/cassettes
spec/.DS_Store

spec/fixtures/authentications.yml

spec/vinegar/.DS_Store

lib/vinegar/.DS_Store

lib/vinegar/client/movies/.DS_Store
